body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.site-heading-lower{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mb-3{
    font-family: 'Comic Sans MS';
    color: wheat !important;
}
.notyellow{
    color: black !important;
}
.intro-text{
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
}